
body {
    margin: 0;
}
h1 {
    color:blueviolet;
    text-decoration: underline black;
    letter-spacing: 10px;
    text-transform: uppercase;
}

body {
    background-color: blanchedalmond;
    
}

label:hover {
    color: blue;
    text-decoration: underline;
}


.parent {
    height: 200px;
    background: #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child {
    background-color: #FFFF00;
    width: 100px;
    height: 100px;
    border-width: 2px;
    border-color: blueviolet;
    border-style: double;
    border-radius: 50%;
}

p::first-line {
        color:blue;
        text-transform: uppercase;
}

h2 {
 color:aquamarine;
}

p::selection {
        background-color: black;
        color: aliceblue;
    }

a::before {
    content: '©';
}

