<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <h1>Home Page <%= 1+2+3+4+5 %></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere harum natus esse in. Hic labore possimus suscipit perspiciatis, tempora est amet quo ullam neque molestias vel exercitationem iusto. Perspiciatis, aperiam?
    Modi voluptatibus assumenda possimus iure voluptates reiciendis, sit quas, maiores unde vitae laboriosam repudiandae, dolorum ducimus omnis dignissimos reprehenderit? Odit ut laudantium iste harum illo, dignissimos maxime ipsum consectetur deleniti?</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere harum natus esse in. Hic labore possimus suscipit perspiciatis, tempora est amet quo ullam neque molestias vel exercitationem iusto. Perspiciatis, aperiam?
        Modi voluptatibus assumenda possimus iure voluptates reiciendis, sit quas, maiores unde vitae laboriosam repudiandae, dolorum ducimus omnis dignissimos reprehenderit? Odit ut laudantium iste harum illo, dignissimos maxime ipsum consectetur deleniti?</p>
</body>
</html>