<%- include('partials/header.ejs') %>
    <div class="d-flex justify-content-center align-items-center extend">
        <h1 class="text-center">HOME PAGE</h1>
    </div>
<%- include('partials/footer.ejs') %>